<h1>New Tweet:</h1>

<%= form_for @tweet do |form| %>
  <%= form.label :content %>
  <%= form.text_field :content %> <br>
  <%= form.file_field :upload %> <br>
  <%= form.file_field :uploads, multiple: true %> <br>
  <%= form.submit %> <br>
<% end %>
