<section class="container">
  <h2><%= @tweet.user.email %></h2>
  <p><%= @tweet.content %></p>

  <% if @tweet.uploads.attached? %>
    <% @tweet.uploads.each do |upload| %>
      <%= image_tag upload, height: 300 %>
    <% end %>
  <% end %>

  <br>
  <%=link_to 'Like', tweet_like_path(@tweet), method: :post %> <%= @tweet.like %>
  <br>
  <%= link_to 'Delete', tweet_path(@tweet), method: :delete%>
  <br>
  <%= link_to 'Home', root_path %>
</section>
